html, body {
    margin: 0;
    padding: 0;
}

div#app-list {
    margin-top: 30px;
}

div#view-app-desc {
    border: 5px double;
    border-radius: 2px;
}

textarea.view-review {
    resize: none;
}